/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-jun-2014, 9:49:14
    Author     : Administrador
*/

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #FFF;
	height: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
	text-align: center;
	font-size: 24px;
}
.form-signin .checkbox {
	font-weight: normal;
	font-size: 15px;
	text-align: left;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 1;
	/* [disabled]margin-top: 10px; */
	/* [disabled]margin-bottom: 10px; */
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
